/* line 1, ../sass/style.scss */
* {
  padding: 0px;
  margin: 0px; }

/* line 5, ../sass/style.scss */
.main {
  width: 100%; }

/* line 8, ../sass/style.scss */
.content {
  width: 700px;
  height: 600px;
  background-color: #fcfdfd;
  margin: 0 auto;
  background-image: url(../images/background1.png); }

/* line 16, ../sass/style.scss */
.textbox {
  text-align: center;
  margin-top: 20px; }

/* line 20, ../sass/style.scss */
.pushbutton {
  width: 588px;
  height: 88px;
  background-color: #F4B04D;
  border-radius: 20px;
  margin: 50px auto;
  text-align: center;
  font-size: 30px;
  line-height: 88px;
  color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none; }

/* line 34, ../sass/style.scss */
.pushbutton2 {
  width: 288px;
  height: 88px;
  background-color: #F4B04D;
  border-radius: 20px;
  margin: 50px 30px;
  text-align: center;
  font-size: 30px;
  line-height: 88px;
  color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  float: left; }

/* line 49, ../sass/style.scss */
.pushbutton3 {
  width: 288px;
  height: 88px;
  background-color: #F4B04D;
  border-radius: 20px;
  margin: 50px 30px;
  text-align: center;
  font-size: 30px;
  line-height: 88px;
  color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  float: left; }

/* line 65, ../sass/style.scss */
.pushbutton:hover {
  background-color: white;
  color: #F4B04D; }

/* line 69, ../sass/style.scss */
.pushbutton2:hover {
  background-color: white;
  color: #F4B04D; }

/* line 73, ../sass/style.scss */
.pushbutton3:hover {
  background-color: white;
  color: #F4B04D; }

/* line 77, ../sass/style.scss */
a {
  text-decoration: none; }

/* line 80, ../sass/style.scss */
.pushtext:hover {
  color: #F4B04D; }

/* line 83, ../sass/style.scss */
.pushtext {
  color: white; }

/* line 86, ../sass/style.scss */
.pushtext2:hover {
  color: #F4B04D; }

/* line 89, ../sass/style.scss */
.pushtext2 {
  color: white; }

/* line 92, ../sass/style.scss */
.pushtext3:hover {
  color: #F4B04D; }

/* line 95, ../sass/style.scss */
.pushtext3 {
  color: white; }
