/* line 4, ../sass/style.scss */
* {
  padding: 0px;
  margin: 0px; }

/* line 8, ../sass/style.scss */
.main {
  width: 100%; }

/* line 11, ../sass/style.scss */
.content {
  width: 700px;
  height: 600px;
  background-color: #fcfdfd;
  margin: 0 auto;
  background-image: url(../images/background1.png); }

/* line 18, ../sass/style.scss */
.TBlogo {
  width: 500px;
  height: 300px;
  margin: 0 auto; }

/* line 23, ../sass/style.scss */
.iine {
  width: 700px;
  height: 40px;
  background-color: black;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

/* line 30, ../sass/style.scss */
.box {
  width: 100px;
  height: 30px;
  background-color: gray;
  margin-right: 50px;
  margin-top: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: none;
  float: right; }

/* line 41, ../sass/style.scss */
li {
  list-style-type: none;
  text-align: center;
  line-height: 40px; }

/* line 46, ../sass/style.scss */
.textbox {
  text-align: center;
  margin-top: 20px; }

/* line 50, ../sass/style.scss */
.pushbutton {
  width: 488px;
  height: 88px;
  background-color: #F4B04D;
  border-radius: 20px;
  margin: 50px auto;
  text-align: center;
  font-size: 30px;
  line-height: 88px;
  color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none; }

/* line 64, ../sass/style.scss */
.pushbutton2 {
  width: 488px;
  height: 88px;
  background-color: #F4B04D;
  border-radius: 20px;
  margin: 10px auto;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 88px;
  color: white;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none; }

/* line 78, ../sass/style.scss */
.pushbutton3 {
  width: 250px;
  height: 50px;
  background-color: gray;
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  text-decoration: none; }

/* line 92, ../sass/style.scss */
.pushbutton:hover {
  background-color: white;
  color: #F4B04D; }

/* line 96, ../sass/style.scss */
.pushbutton2:hover {
  background-color: white;
  color: #F4B04D; }

/* line 100, ../sass/style.scss */
.pushbutton3:hover {
  background-color: white;
  color: #F4B04D; }

/* line 105, ../sass/style.scss */
a {
  text-decoration: none; }

/* line 108, ../sass/style.scss */
.pushtext:hover {
  color: #F4B04D; }

/* line 111, ../sass/style.scss */
.pushtext {
  color: white; }

/* line 114, ../sass/style.scss */
.pushtext2:hover {
  color: #F4B04D; }

/* line 117, ../sass/style.scss */
.pushtext2 {
  color: white; }

/* line 120, ../sass/style.scss */
.pushtext3:hover {
  color: #F4B04D; }

/* line 123, ../sass/style.scss */
.pushtext3 {
  color: white; }
